[Desktop Entry]
Type=Application
Name=1Password
Comment=Password manager and secure wallet
Exec=/opt/1Password/1password --silent
Icon=1password
Terminal=false
Categories=Office;
StartupWMClass=1Password
MimeType=x-scheme-handler/onepassword;
